<div class="signin">
  <!-- section-right -->
  <div class="section-right">
    <div class="c-box">
      <h2 class="title">Forgot your password ?</h2>
      <h3 class="sub-title">Let us help you</h3>

      {{ messages }}

      {{ page.content }}

      <p>Don't have an account?
        <a href="/user/register">Create account</a>
      </p>
    </div>
  </div>
  <!-- section-left -->
  <div class="left">
    <div class="c-box">
      <h2>
        <a href="/">{{ sitename }}
          <span>.</span>
        </a>
      </h2>
      {{ cellular.user_page_intro }}
      <p>{{ cellular.copyright_text }}</p>
    </div>
  </div>
</div>
