{#  Default page regions:
  - console: 'Console'
  - header_top: 'Header Top'
  - header: 'Header'
  - header_bottom: 'Header Bottom'
  - content_top: 'Content Top'
  - content: 'Content'
  - sidebar: 'Sidebar'
  - content_bottom: 'Content Bottom'
  - footer_top: 'Footer Top'
  - footer: 'Footer'
  - footer_bottom: 'Footer Bottom'
  #}

{% set page_header_attribute = create_attribute() %}
{% set node_has_image = node.field_image.entity.uri.value %}

{%
  set page_header_classes = [
     cellular.page_header_style ? 'type-' ~ cellular.page_header_style|clean_class : 'empty',
     node.field_image.entity.uri.value  ? 'has-' ~ 'image' : 'no-image',
     cellular.page_header_style == 'box-size' ? 'container',
  ]
%}

{%
  set page_header_styles = [
    node.field_image.entity.uri.value ? 'background-image: url(' ~ file_url(node.field_image.entity.uri.value) ~');'
  ]
%}

{% for region in page %}
{% if page.region %}
  {{ page.region }}
{% endif %}
{% endfor %}

{% if page.sidebar %}
  {% set content_classes = [
    page.sidebar_right ? 'col-md-9',
    page.sidebar_right is empty ? 'col-md-12'
  ] %}
{% endif %}

<a href="#main-content" class="hidden">{{ 'Skip to main content'|t }}</a>

<div id="page-wrap" class="cell">

  <div id="header" class="cell">

  </div>

</div>


<!-- End new Dev-->
<!-- start electra-->
{% if cellular.header_position == 'header-left' %}
  <div class="main-content-wrapper">
  {% endif %}
  {% include '@cellular/region/header.html.twig' %}

  <!-- If header position is left then add wrapper div -->
  {% if cellular.header_position == 'header-left' %}
    <div class="content-right">
    {% endif %}

    <!-- If sample blocks enable -->
    {% if cellular.display_sample_blocks %}
      {% if is_front %}
        {{ include('@cellular/samples/parallax-block.html.twig', ignore_missing = true) }}
      {% endif %}
    {% endif %}
    <!-- end sample blocks enable -->
    {% if cellular.page_header_style == 'full-size' or cellular.page_header_style == 'box-size' %}
      <div {{ page_header_attribute.addClass(page_header_classes) }} {{ page_header_attribute.setAttribute('style', page_header_styles) }}>
      {% endif %}
      {% if not is_front %}
        {% if page.content_header %}
          {{page.content_header }}
        {% endif %}
      {% endif %}
      {% if cellular.page_header_style == 'full-size' or cellular.page_header_style == 'box-size' %}
      </div>
    {% endif %}

    <!-- top Fluid section -->
    {% if page.content_top_fluid %}
      {{ page.content_top_fluid }}
    {% endif %}
    <!-- end top fluid section -->


    <section class="content-wrapper">
      <div class="container">
        <div class="row">
          <div
            {{ content_attributes.addClass(content_classes) }}>

            <!-- page top section -->
            {% if page.content_top %}
              {{ page.content_top }}
            {% endif %}
            <!-- page top section -->

            {% if node_has_image and (cellular.page_header_style == 'full-size' or cellular.page_header_style == 'box-size') %}
              {{ page.content|without('field_image') }}
            {% else %}
              {{ page.content }}
            {% endif %}

            <!-- page bottom section -->
            {% if page.content_bottom %}
              {{ page.content_bottom }}
            {% endif %}
            <!-- page bottom section -->

          </div>

          {% if page.sidebar_right %}
            <div class="col-md-3 sidebar">
              {% block sidebar_right %}
                <aside role="complementary">
                  {{ page.sidebar_right }}
                </aside>
              {% endblock %}
            </div>
          {% endif %}

        </div>
      </div>
    </section>

    <!-- bottom Fluid section -->
    {% if page.content_bottom_fluid %}
      {{ page.content_bottom_fluid }}
    {% endif %}
    <!-- bottom top fluid section -->

    {% include '@cellular/region/footer.html.twig' %}

    {% if cellular.header_position %}
    </div>
  {% endif %}

  {% if cellular.header_position == 'header-left' %}
  </div>
{% endif %}
