<ul {{social_attribute.addClass(social_classes) }}>
  {% if cellular.social_profiles.social_facebook is not empty %}
  <li>
    <a href="{{ cellular.social_profiles.social_facebook }}" class="facebook" target="_blank">
      <i class="fab fa-facebook"></i>
    </a>
  </li>
  {% endif %}

  {% if cellular.social_profiles.social_googleplus is not empty %}
  <li>
    <a href="{{ cellular.social_profiles.social_googleplus }}" class="google" target="_blank">
      <i class="fab fa-google-plus-g"></i>
    </a>
  </li>
  {% endif %}

  {% if cellular.social_profiles.social_linkedin is not empty %}
  <li>
    <a href="{{ cellular.social_profiles.social_linkedin }}" class="linkedin" target="_blank">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </li>
  {% endif %}

  {% if cellular.social_profiles.social_twitter is not empty %}
  <li>
    <a href="https://twitter.com/{{ cellular.social_profiles.social_twitter }}" class="twitter" target="_blank">
      <i class="fab fa-twitter"></i>
    </a>
  </li>
  {% endif %}

  {% if cellular.social_profiles.social_youtube is not empty %}
  <li>
    <a href="{{ cellular.social_profiles.social_youtube }}" class="youtube" target="_blank">
      <i class="fab fa-youtube"></i>
    </a>
  </li>
  {% endif %}

</ul>
