{% set social_attribute = create_attribute() %}
{% set social_classes = [
    'social',
    cellular.social_icon_style
  ]
%}
{% set social_follow_classes = social_classes|merge([
    'follow',
  ])
%}
{% set social_share_classes = social_classes|merge([
    'share',
  ])
%}
<ul{{ social_attribute.addClass(social_follow_classes) }}>
  {% for title, link in cellular.social_follow %}
    {% if link is not empty %}
      <li>
        <a href="{{ link }}" class="{{ title }}" target="_blank"></a>
      </li>
    {% endif %}
  {% endfor %}
</ul>

<ul{{ social_attribute.addClass(social_share_classes) }}>
  {% for title, link in cellular.social_share %}
    {% if title is not empty %}
      <li>
        <a href="{{ share.link }}" class="{{ link }}" target="_blank"></a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
