{%
  set social_classes = [
    'social-icons'
    cellular.display_social_round_icons ? 'round',
  ];
  set obj = cellular.social_profiles; 
  set social_follow = [
    social_facebook,
    social_instagram,
    social_linkedin,
    social_youtube,
    social_google,
    social_twitter,
    social_github
  ];
  set social_share = [
    social_facebook,
    social_google,
    social_linkedin,
    social_twitter,
    social_reddit
  ];
%}

<ul {{social_attribute.addClass(social_classes) }}>
  {% for link in obj.social_follow %}
    {% if obj.link is not empty %}
      <li>
        <a href="{{ obj.link }}" class="{{link}}" target="_blank"></a>
      </li>
    {% endif %}
  {% endfor %}
</ul>

<ul {{social_attribute.addClass(social_classes) }}>
  {% for link in obj.social_share %}
    {% if obj.link is not empty %}
      <li>
        <a href="{{ obj.link }}" class="{{link}}" target="_blank"></a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
