<!-- =============================== content ===============================-->
{% set classes = [

	]
%}
<div id="content-wrap" {{ attributes.addClass(classes) }}>
	{% if page.content_top %}
		{{ page.content_top }}
	{% endif %}	
	{% if node_has_image and (cellular.page_header_style == 'full-size' or cellular.page_header_style == 'box-size') %}
		{{ page.content|without('field_image') }}
	{% else %}
		{{ page.content }}
	{% endif %}	
	{% if page.content_bottom %}
		{{ page.content_bottom }}
	{% endif %}
</div>