<!-- =============================== footer ===============================-->

{% set social_attribute = create_attribute() %}
{%
  set social_classes = [
    'social-icons',
    cellular.display_social_round_icons == true ? 'round' : null,
  ]
%}
    <footer id="footer">

    {% if page.footer_top or cellular.social_profiles %}
      {{ page.footer_top }}
      {% if cellular.social_profiles | length > 0 %}
        {% include '@cellular/components/social-icons.html.twig' %}
      {% endif %}
    {% endif %}

    {% if page.footer %}
      {{ page.footer }}
    {% endif %}

    {% if page.footer_bottom or cellular.copyright_text or cellular.theme_credits  %}
   <div id="footer-bottom" class="">
   {{ page.footer_bottom }}
    <p class="copyright">{{ cellular.copyright_text }}</p>
    <p class="copyright">{{cellular.theme_credits }}</p>
   </div>
    {% endif %}
    
  </footer>
