<!-- =============================== header ===============================-->
{%
  set header_classes = [
    cell,
    cellular.header_style,
    cellular.header_type,
    cellular.header_position,
  ]
%}
{% if page.header_top %}
{% set header_classes = header_classes|merge(['top-header']) %}
<div id="header_top" class="cell">
  {{ page.header_top }}
</div>
{% endif %}
<div id="header"{{ attributes.addClass(header_classes) }}
{{ attributes }}
{{ create_attribute({'data-fixed': cellular.header_sticky}) }}
{{ create_attribute({'data-bgcolor': cellular.header_color}) }}>
  {% include '@cellular/components/logo.html.twig' %}
  {% if page.navigation %}
    {% include '@cellular/components/navigation.html.twig' %}
  {% endif %}
  {% if page.header %}
    {{ page.header }}
  {% endif %}
</div>
  {% if page.header_bottom %}
<div id="header_bottom">
  {{ page.header_bottom }}
</div>
  {% endif %}
