<!-- =============================== header ===============================-->
{%
  set header_classes = [
    cellular.header_link_style,
    cellular.header_type,
    cellular.header_position,
  ]
%}

    {% if page.header_top %}
<div id="header_top">
      {{ page.header_top }}
</div>
    {% endif %}
<div id="header"{{ header_attributes.addClass(header_classes) }}
{{ create_attribute({'data-fixed': cellular.header_type_sticky}) }}
{{ create_attribute({'data-resize': cellular.header_type_sticky_resize}) }}
{{ create_attribute({'data-bgcolor': cellular.header_color}) }}
>

  {% include '@cellular/components/logo.html.twig' %}
  {% if page.navigation %}
    {{ page.navigation }}
  {% endif %}
  {% if page.header %}
    {{ page.header }}
  {% endif %}
</div>
    {% if page.header_bottom %}
<div id="header_bottom">
      {{ page.header_bottom }}
</div>
    {% endif %}
